.guitar-notes {
  // margin: 0 auto;
  // width: 100%;
  overflow: auto hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.guitar-base-note {
  display: flex;
  gap: 15px;
}

.guitar-note {
  text-align: center;
  font-weight: bold;

  width: 30px;
  height: 20px;

  transition: 0.3s ease;

  &:hover {
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    cursor: pointer;
  }
}
